/* Bangers and Risque fonts (Google fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Risque&display=swap');

/* CSS variables*/
:root {
  --primary-font: "Bangers", system-ui;
  --secondary-font: "Risque", serif;
  --page-margin-color: #440643;
  --button-color: #730a71;
  --primary-filler-color: #fde8fd;
  --secondary-filler-color: #fef8fe;
  --button-text-color: #f8fef8;
  --primary-text-color: #064407;

}

/* Wildcard selector to override default browser styles. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Push footer to bottom of page. */
body {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}
main{
    /*Use all the available space */
    flex: 1 0 auto;
    background-color: var(--primary-filler-color);
}
/* Title feature */
#title-feature {
    display: flex; 
    max-width: 50%;
    min-height: 40vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5%;   
    background-color: var(--button-color);
    color: var(--button-text-color);
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 10px;
    border-radius: 5px;
    border: none;
    font: var(--secondary-font);
}
.level-button {
    margin: 20px;
}
.hidden {
    display: none;
}


footer {
    background-color: var(--button-color);
    color: var(--button-text-color);
}