/* Bangers and Risque fonts (Google fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Risque&display=swap');

/* CSS variables*/
:root {
  --primary-font: "Bangers", system-ui;
  --secondary-font: "Risque", serif;
  --page-margin-color: #440643;
  --button-color: #730a71;
  --primary-filler-color: #fde8fd;
  --secondary-filler-color: #fef8fe;
  --button-text-color: #f8fef8;
  --primary-text-color: #064407;

}

/* Wildcard selector to override default browser styles. */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Push footer to bottom of page. */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}

/* Index page*/
main{
    /*Use all the available space */
    flex: 1 0 auto;
    background-color: var(--primary-filler-color);
    
}
/* Title feature */
#title-feature {
    display: flex; 
    max-width: 50%;
    min-height: 40vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5%;   
    background-color: var(--button-color);
    color: var(--button-text-color);
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.button {
    display: flex;
    background-color: var(--page-margin-color);
    color: var(--button-text-color);
    padding: 10px;
    border-radius: 5px;
    border: none;
    font: var(--secondary-font);
    text-decoration: none;
    height: 40px;
    width: 80px;
    justify-content: center;
    align-items:center;
    margin: 20px;

}
.button:hover {
    background-color: var(--button-color);
}

.hidden {
    display: none;
}

/* Game pages */
.game-page {
    display:flex;    
    align-content: center;
    justify-content:  center;
}
.card-container {
    
    padding: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items:center;
    justify-content: center;
    
}
.card {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid black; /*DELETE LATER */
    border-radius: 5px; /*DELETE LATER */
    perspective: 1000px; /*keep the 3d effect*/
    
}

.card img {
    
    width: 80%;
   
}
.card-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aqua;
    width: 80px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    
   
}
    
.card-back, .card-front {
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;      
    position: absolute; /*make both sides sstay in the same position*/
    backface-visibility: hidden; /*hide the back when the front is showing */
    -webkit-backface-visibility: hidden; /*safary support */
    -moz-backface-visibility: hidden; /*firefox support */
    -ms-backface-visibility: hidden; /*IE support */
    -o-backface-visibility: hidden; /*opera support */
    
}

.card-front {   
    z-index: 2; /*stack at the back*/
} 
.card-back {
    transform: rotateY(180deg);
}

footer {
    background-color: var(--page-margin-color);
    color: var(--button-text-color);
}

/* Media queries */
@media screen and (min-width: 600px) {
    .card-container {
        grid-template-columns: auto auto auto auto;
    }
} 